In [5]:
import numpy as np
import pandas as pd

data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
data={'a':1.,'b':2.,'c':3}
series = pd.Series(data)
print(series)

a    1.0
b    2.0
c    3.0
dtype: float64

In [ ]:
data = [1,2,3,4,5]
index = ['a','b','c','d','e']
series = pd.Series(data,index=index)
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
## Dataframe

data ={
    'Name':['Tom','Jerry','Mickey','Donald'],
    'Age':[20,21,22,23],
    'City':['LA','NY','SF','DC']
}
df = pd.DataFrame(data)
print(df)
print(type(df))

     Name  Age City
0     Tom   20   LA
1   Jerry   21   NY
2  Mickey   22   SF
3  Donald   23   DC
<class 'pandas.core.frame.DataFrame'>

In [13]:
import numpy as np
np.array(df)
print(df)

     Name  Age City
0     Tom   20   LA
1   Jerry   21   NY
2  Mickey   22   SF
3  Donald   23   DC

In [ ]:
## Create a data frame from a list of dictionaries

data = [
    {'Name':'Tom','Age':20,'City':'LA'},
    {'Name':'Jerry','Age':21,'City':'NY'},
    {'Name':'Mickey','Age':22,'City':'SF'},
    {'Name':'Donald','Age':23,'City':'DC'}
]

df = pd.DataFrame(data)
print(df)
print(type(df))