In [37]:
import pandas as pd
from io import StringIO

df = pd.read_csv('data.csv')

df.head()
# df.tail()
# df.info()
# df.describe()
# (df.columns.tolist())
# df.isna().sum()
# df.dtypes
# df['Date'] = pd.to_datetime(df['Date'])
# print("Converted Date column to datetime")
# print(df['Date'].head())
# df['Value'] = df['Value'].fillna(df['Value'].mean())
# df['Sales'] = df['Sales'].fillna(df['Sales'].median())
# print("Filled missing values in Value and Sales columns")
# print(df[['Value', 'Sales']].isna().sum())
# print(df[['Value', 'Sales']].head())
# df_clean = df.copy()
# df_clean = df_clean.drop_duplicates()

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North